

body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.container {
  display: flex;
  height: 100vh;
  background: #f5f6fa;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #eee;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  margin-right: auto;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}
.sidebar div li.active {
  background: #4e54c8;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

 ul .list-icons{
    float: left;
    padding-right: 20px;
 }
 ul .important-icon{
  padding-right: 32px;
  float: left;
 }
 
 ul .meeting-icons{
  float: left;
  padding-right: 16px;
 }
  ul .trash-icons{
  float: left;
  padding-right: 21px;
 }
/* Main */
.main {
  flex: 1;
  padding: 20px;
}

#add-task {
  display: flex;
  margin-bottom: 20px;
  margin-top: auto;
  width: 100%;
}


#display_taskList {
  padding: 0;
  width: 100%;
  max-width: 780px;   /* 🔥 control width here */
  margin: 20px 16px;  /* center horizontally */
}

#display_taskList li {
  list-style: none;
  margin-bottom: 12px;
  margin-top:auto;
}

#display_taskList p {
  color: #888;
  font-style: italic;
  text-align: center;
}

.completed-icon {
  color: green;
}

button i {
  font-size: 16px;
}

button:hover i {
  transform: scale(1.1);
}

.list_row span:first-child {
  flex:3;
  font-weight: 500;
  font-size: 16px;
}

.list_row span:nth-child(2) {
  flex: 1;   /* smaller than task */
  font-size: 14px;
}

.list_row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  background: #dadff8;
  /* color:#fff; */
  padding: 12px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.list_row button{
  flex:0;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.list_row:hover {
  background: #e9edff;
  /* color:#000; */
}
.list_row:hover button i {
  /* color: #f5f6fa; */
}

#add-task #taskText {
  flex: 0 0 50%;
  padding: 10px;
  box-sizing: border-box;
}
#add-task input{
  margin-right:7px;
  margin-left: auto;
}

#add-task #taskTime{
   flex: 0 0 25%;
   padding: 10px;
   box-sizing: border-box;
}
#add-task button {
  padding: 10px;
  flex:0 0 20%;
  background: #7379ec;
  /* border-radius: 6px; */
  transition: 0.3s;
  /* color: white; */
  border: none;
  font-size: 17px;
}

#add-task button:hover {
  background: #3b40a0;
}
.task {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.task span {
  font-weight: 500;
}

/* Task List */
#taskList {
  list-style: none;
  padding: 0;
}

.task_info {
  display: flex;
  gap: 10px;
}

.task_actions {
  display: flex;
  gap: 10px;
}

.task {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

/* Schedule */
.schedule {
  width: 250px;
  background: #fafafa;
  padding: 20px;
}

.card {
  background: #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: transform .3s ease;
}
.card:hover{
  box-shadow:2px 3px 7px 1px #504e4e;
   transform: scale(1.0);
}

/* media query */

@media (max-width: 1023px) and (min-width:768px){
  #add-task #taskText {
    flex: 0 0 35%;
    box-sizing: border-box;
    padding: 0px 13px;
}
.sidebar {
    width: 160px;
 }
 .main {
    flex: 1;
    padding: -1px 11px;
}
}